*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(car1.jpg);
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color:antiquewhite;
    font-family: 'Orbitron', sans-serif;
}

img.logo{
    width: 9rem;
    height: 5.5rem;
    /* border: 1px solid pink; */
    
}

nav{
    display: flex;
    /* border: 1px solid white; */
    justify-content: space-between  ;
    align-items: center;
    padding: 0 2rem;
}

ul{
    display: flex;
    list-style: none;   
    font-size: 1.3rem;
    
}

nav > ul > li {
    margin: 0 1rem;

}
li:hover {
    color: #ff000d;
    transform: scale(1.1);
    
}

.btn {
    background-color:  rgba(255, 0, 0, 0.555);
    padding: 0.6rem 1.8rem;
    border-radius: 1rem;
    border: none;
    color: inherit;
    transition: 0.8s ease-in;

}
.btn:hover {
    transform: scale(1.2);
    
}
/* nav end  */

/* main start */
main {
    /* border: 1px solid     red; */
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    
}

.sec {
    width: 16rem;
    height: 25rem;
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: perspective(800px) scale(1) rotateX(0deg) rotateY(360deg) ;
    transition: 1s ease all; */
    transition: 2s ease all;
    

    
}

section img {
    width: 15rem;
}
main > section > div,p,h2,button{
    margin-top: 1.3rem;
}
p{
    color: grey;
    opacity: 0.5;
}

section:hover{
    box-shadow: 0 0 10px 5px gray;
    border-radius: 1rem;
    /* transform: scale(1.05); */
    /* border: 1px solid red; */
    /* transform: rotateX(0deg) rotateY(180deg)
     translateZ(3rem) scale(1.05) perspective(800px); */
     transform: scale(1.05);
     transform: perspective(800px) scale(1) rotateX(0deg) rotateY(360deg) ;
     
   
    
}

#bossimg {
    width: 20rem;
    height: 30rem ;
    border-radius: 1rem;
    box-shadow: 5px 3px 10px rgba(156, 138, 138, 0.712);
}

article{
    /* border: 12px solid red; */
    display: flex;
    /* width: 80%; */
    /* height: 25rem; */

    flex-direction: row-reverse;
    align-content: flex-start;
    padding: 10rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.art-content {
     /* width: 60%; */
    padding: 2rem; 
    
}
span{
    color: rgba(255, 0, 0, 0.555);
    /* font-size: 1rem; */
}
h1{
    font-size: 3rem;
    color: antiquewhite;
    text-shadow: 5px 5px 4px rgba(128, 128, 128, 0.712);
    text-decoration: underline rgb(153, 61, 61);
}
/* top 3 start */
div.main-top{
    /* display: flex; */
    /* border: 2px solid red; */
    /* width: 100%; */
    /* justify-content: center; */
    text-align: center;
    
    
     
}
.top{
    width: 16rem;
    height: 20rem;
    /* border: 1px solid white; */
    margin: 1rem;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center center;
    border-radius: 1rem;
    margin-top: 3rem;
}

.top1{
    background-image: url(t3.jpg);
    background-repeat: no-repeat;
}
.top2{
    background-image: url(portrait.jpg);
    background-repeat: no-repeat;

}
.top3{
    background-image: url(p1boss.jpg);
    background-repeat: no-repeat;
}
.topimages{
    display: flex;
    justify-content: center;
}
.btn-top{
    opacity: 0;
}



.top:hover {
    .btn-top{
        opacity: 1;
        padding: .5rem 1rem;
        border-radius: 1rem;
        background-color: transparent;
        color: white;
        border: none;
        box-shadow: inset 0 0 0.5rem 0.3rem rgba(255, 0, 0, 0.555);
    }
    opacity: 1;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: inset 0 0 0.5rem 0.3rem rgba(255, 0, 0, 0.555);
}
/* top 3 end */
/* footer start */
footer{
    background-image: linear-gradient(black,rgba(114, 5, 5, 0.336));
    text-align: center;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.face {
    width: 2.5rem;
    height: 2.5rem;
    background-color:lightseagreen;
    padding-top: 0.2rem;
    border-radius: 50%;
    font-weight: 900;
    font-size: 1.5rem;
    margin: 1rem 0;
    

}